.inp-wrap
    text-align left
    position relative
    .inp-radius
        border-radius 4px
    .inp
        border: 1px solid #ccc;
        width 100%
        height: 34px;
        position: absolute;
        top: 0px;
        left: 0px;
        padding-left: 12px;
        input
            line-height 34px
            outline none
            float left
        .custom-select
            cursor pointer
            float left
            width 100%
            line-height 40px
            .iconfont
                position absolute
                right 7px
                font-size 14px
                font-weight bold
                top -3px
        .custom-ul
            top 34px
            left -1px
            width 100%
            z-index 99
            border 1px solid #ccc
            position absolute
            max-height 130px
            overflow-y scroll
            .custom-item
                padding-left 12px
                line-height 26px
                background #fff
                &:hover
                    cursor pointer
                    background #ccc
    .checkbox, .radio
        display inline-block
        position relative
        cursor pointer
        line-height 20px
        width 20%
        .r-label, .c-label
            position relative
            padding-left 10px
            line-height 20px
            display inline-block
            cursor pointer
        input[type=radio], input[type=checkbox]
            position relative
            z-index 89
            float left
            cursor pointer
            height 18px
            width 18px
            opacity 0
        .dot
            position absolute
            top 0px
            left 0px
            display inline-block
            padding 8px
            border 1px solid #969696
            background #fff
        .checked::after
            position absolute
            color #969696
    .checkbox
        .dot
            border-radius 3px
        .checked::after
            content '✔'
            top -1px
            left 1px
            font-size 16px
            font-weight bold
    .radio
        .dot
            border-radius 99px
        .checked::after
            content ' '
            width 10px
            height 10px
            border-radius 50px
            position absolute
            top 3px
            background #969696
            text-shadow 0
            left 3px
            font-size 32px

.switch
    display block
    position relative
    text-align left
    .iconfont
        font-size 28px
        position absolute
        color #999
        line-height 23px
        margin 22px 0
    .icon-switch-off
        font-size 25px !important

.btn-step
    display inline-block
    margin 0px auto 50px
    width 140px
    line-height 32px
    border-radius 3px
    color #fff
    background linear-gradient(#4392db, #1d6ebe)
    box-shadow inset 0 0px 2px 0px #8ec6f7
    border 1px solid #3984ce
    border-bottom 1px solid #0e65bc

.btn-active
    position relative

.custom-tab
    width 100%
    background #fff
    table-layout fixed
    th
        background #ccc
        font-size 16px
        font-weight bold
        line-height 40px
    tbody
        tr
            cursor pointer
            height 44px
            &:nth-child(odd)
                background #eaeaea
            &:hover
                background #ddd !important
    td
        color #666
        font-size 14px
        line-height 44px
        height 44px
        padding 0 6px
        border-left 1px solid #ccc
        border-bottom 1px solid #ccc
        &:last-child
            border-right 1px solid #ccc
        .ctn
            display block
            overflow hidden
            white-space: nowrap
            text-overflow ellipsis
    .on
        background greenyellow